/* 
    Document   : baseapp
    Created on : Jan 16, 2013, 3:41:34 PM
    Author     : kuldeep
*/

body{
    padding-top: 60px;
}

.twitter-user,
.twitter-hash,
.twitter-link,
.twitter-email{
    text-decoration: none;
}

.twitter-user{
    color:#0a0;
}

.twitter-hash{
    color:#00a;
}

.twitter-link{
    color:#a00;
}

.twitter-email{
    color:#a0a;
}

.twitter-user:hover,
.twitter-hash:hover,
.twitter-link:hover,
.twitter-email:hover{
    text-decoration: underline;
}